<h1>Edit a landmark:</h1>
<br></br>
<form action="/landmarks/<%=@landmark.id%>" method="POST">
  <input type="hidden" name="_method" id="hidden" value="patch">
  <input type="text" name="landmark[name]" id="name" value="<%=@landmark.name%>">
  <br></br>
  <input type="text" name="landmark[year_completed]" id="year_completed" value="<%=@landmark.year_completed%>">
  <br></br>
  <input type="submit" id="Edit Landmark" value="Edit Landmark">
</form>