<h1>All landmarks:</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Year Completed</th>
  </tr>
  <tr>
    <%@landmarks.all.each do |landmark|%>
      <td><%= landmark.name %></td>
      <td><%= landmark.year_completed %></td>
    <%end%>
  </tr>
<table>