<h1>Create a new landmark:</h1>
<br></br>
<form action="/landmarks" method="POST">
  <input type="text" name="landmark[name]" id="landmark_name" value="Landmark Name">
  <br></br>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed" value="Year Completed">
  <br></br>
  <input type="submit" value="Create New Landmark" id="Create New Landmark">
</form>